Options -Indexes -ExecCGI

<IfModule mod_authz_core.c>
    <FilesMatch "(?i)\.(php[0-9]?|phtml|phar|pl|py|cgi|asp|aspx|jsp|sh|bash)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "(?i)\.(php[0-9]?|phtml|phar|pl|py|cgi|asp|aspx|jsp|sh|bash)$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>
</IfModule>

